mod_md.xcodeproj/xcuserdata/*.xcuserdatad
*.xcuserstate
*.o
*.slo
*.lo
*.la
*.pcap
*.diff
.libs
.configured
.deps
.dirstamp
compile
aclocal.m4
autom4te.cache
autoscan.log
config.guess
config.log
config.status
config.sub
config.h
config.h.in
config.h.in~
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
Makefile.in
Makefile
mod_cert-*.tar.gz
m4
.cache
a2md/a2md
