mod_md.xcodeproj/xcuserdata/*.xcuserdatad
*.xcuserstate
*.o
*.slo
*.lo
*.la
*.pcap
*~
.libs
.configured
.deps
.dirstamp
.pytest_cache
compile
aclocal.m4
autom4te.cache
autoscan.log
config.guess
config.log
config.status
config.sub
config.h
config.h.in
config.h.in~
config.cache
configure
configure.scan
depcomp
httpd.conf
install-sh
libtool
ltmain.sh
missing
stamp-h1
Makefile.in
Makefile
mod_md-*.tar.gz
m4
.cache
src/a2md
a2md.1

# Automake test-suite artifacts
/test-driver
/test/test-suite.log
/test/unit/**/*.log
/test/unit/**/*.trs
/test/unit/main
wiki
test/conf/std_vhosts.conf
build/
