User ${server_user}

Include "conf/modules.conf"

<IfModule log_config_module>
    LogFormat "%h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" %k" combined
    LogFormat "%h %l %u %t \"%r\" %>s %b" common
    CustomLog "logs/access_log" combined
    
</IfModule>

ServerName localhost
ServerRoot "${server_dir}"
DocumentRoot "${server_dir}/htdocs"

<Location "/server-status">
    SetHandler server-status
</Location>
<Location "/md-status">
    SetHandler md-status
</Location>

Include "conf/test.conf"

