# forward proxy config

Listen ${proxy_port}

<VirtualHost *:${proxy_port}>
    ProxyRequests On
    ProxyVia On
    # be totally open
    AllowCONNECT 0-56535

    <Proxy *>
        # No require or other restrictions, this is just a test server
    </Proxy> 
</VirtualHost>

